
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
  }
  

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: linear-gradient(to right, #dd62b6, #ff769d);
    color: rgb(255, 244, 244);
  }
  
  .navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ff7e5f;
  }
  

  .hero {
    height: 60vh;
    background: linear-gradient(to right, #be71be, #9acbe7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .hero button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    background: #e15f6e;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
  }
  
  .hero button:hover {
    transform: scale(1.1);
    background: #ad0e88;
  }
  
 
  .gallery {
    padding: 50px 20px;
    text-align: center;
  }
  
  .gallery h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #602222;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .grid-item img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .grid-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(156, 50, 50, 0.3);
  }
  

  footer {
    background:linear-gradient(to right, #be71be, #9acbe7);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
  }
  